body{
background-image: url("specifiqueBackground.jpg");
background-repeat: repeat;
}

.banner{
margin-bottom : 4px;
}

/* Div principal (le centre de la page) */

#principal{
background-color: white;
float: right;
width: 1539px;
height: 4500px;
margin-top : 3px;
margin-right: 10px;
border: 1px solid black;
border-radius:8px 8px 8px 8px;
margin-bottom: 30px;
}

/* En Savoir plus */

#actus{
position : absolute;
border: 1px solid black;
right: 10px;
top : 4730px;
width : 1539px;
height : 280px;
border-radius:8px 8px 8px 8px;
background-color: white;
}

.ActuIA_div{
position : absolute;
top : 47px;
left : 130px;
border-right : 1px solid black;
padding-right : 60px;
padding-top : 26px;
}

.ActuIA_div2{
position : absolute;
top : 47px;
left : 610px;
border-right : 1px solid black;
padding-right : 60px;
padding-top : 26px;
}

.ActuIA_div_last{
position : absolute;
top : 73px;
left : 1100px;
}

.ActuIA_div p,.ActuIA_div2 p, .ActuIA_div_last p{
position : relative;
font-size : 120%;
font-family : Arial;
text-align : center;
top : -10px;
right : 15px;
}

.ActuIA_div img,.ActuIA_div2 img, .ActuIA_div_last img{
position:relative;
right : 11px;
border: 1px solid black;
height : 160px;
width : 324px;
}

.ActuIA_div a:hover img,.ActuIA_div2 a:hover img, .ActuIA_div a:hover p,.ActuIA_div2 a:hover p, .ActuIA_div_last a:hover img, .ActuIA_div_last a:hover p{
-webkit-transform:scale(1.02);
}

.ActuIA_div a:hover img,.ActuIA_div2 a:hover img, .ActuIA_div_last a:hover img{
box-shadow: 1px 1px 12px #555;
}

/* Image Titre IA*/

#principal img {
margin-left: 120px;
margin-top: 20px;
width: 1300px;
height: 750px;
border : 1px solid black;
}

/* Partie Crea */

#Crea, #Quantique, #Faible, #Videos{
font-family: OCR A Std, cursive;
font-weight: bold;
font-size : 180%;
}

.principal_text{
font-size : 115%;
font-family : Arial;
margin-right: 15px;
}

.alphago_text{
font-size : 115%;
font-family : Arial;
margin-right: 650px;
margin-bottom: 250px;
word-spacing : 4px;
}

#principal .alphago_img{
height: 350px;
width : 600px;
position : absolute;
top : 1300px;
right : 40px;
}

/* Partie Quantique */

#principal .quantique_img{
height: 350px;
width : 570px;
position : absolute;
top : 2015px;
right : 60px;
}

.quantique_text{
font-size : 115%;
font-family : Arial;
margin-right: 650px;
word-spacing : 4px;
}

/* Partie IA Faible Forte*/

.titreFortFaible{
font-family: Arial;
font-weight: bold;
font-size : 140%;
}

#principal .IaForteFaible_img{
height : 500px;
width: 900px;
margin-top: 50px;
display: block;
margin-right: auto;
margin-left : auto;
}

/* Partie Video */

.video_text{
text-decoration : underline;
font-size : 140%;
font-family : Apple Chancery, cursive;
text-align: center;
}

.video{
display : block;
margin-left : auto;
margin-right : auto;
}
