body{
background-image: url("HistoireBackground.jpg");
background-repeat: repeat;
}

/* Div principal (le centre de la page) */

#principal{
background-color: white;
float: right;
width: 1539px;
height: 4980px;
margin-top : 3px;
margin-right: 10px;
border: 1px solid black;
border-radius:8px 8px 8px 8px;
margin-bottom: 30px;
}

/* En Savoir plus */

#actus{
position : absolute;
border: 1px solid black;
right: 10px;
top : 5210px;
width : 1539px;
height : 280px;
border-radius:8px 8px 8px 8px;
background-color: white;
}

.ActuIA_div{
position : absolute;
top : 47px;
left : 130px;
border-right : 1px solid black;
padding-right : 60px;
padding-top : 26px;
}

.ActuIA_div2{
position : absolute;
top : 47px;
left : 610px;
border-right : 1px solid black;
padding-right : 60px;
padding-top : 26px;
}

.ActuIA_div_last{
position : absolute;
top : 73px;
left : 1100px;
}

.ActuIA_div p,.ActuIA_div2 p, .ActuIA_div_last p{
position : relative;
font-size : 120%;
font-family : Arial;
text-align : center;
top : -10px;
right : 15px;
}

.ActuIA_div img,.ActuIA_div2 img, .ActuIA_div_last img{
position:relative;
right : 11px;
border: 1px solid black;
height : 160px;
width : 324px;
}

.ActuIA_div a:hover img,.ActuIA_div2 a:hover img, .ActuIA_div a:hover p,.ActuIA_div2 a:hover p, .ActuIA_div_last a:hover img, .ActuIA_div_last a:hover p{
-webkit-transform:scale(1.02);
}

.ActuIA_div a:hover img,.ActuIA_div2 a:hover img, .ActuIA_div_last a:hover img{
box-shadow: 1px 1px 12px #555;
}

/* Image Titre IA*/

#principal img {
margin-left: 120px;
margin-top: 20px;
width: 1300px;
height: 750px;
border : 1px solid black;
}

/* Partie Mythes */

#mythes, #Av2000, #Ap2000, #Ap2010{
font-family: OCR A Std, cursive;
font-weight: bold;
font-size : 180%;
}

.principal_text{
font-size : 115%;
font-family : Arial;
margin-right: 15px;
}

/* Partie Avant 2000 */

#principal .Turing_img{
width : 750px;
height : 420px;
display: block;
margin-left: auto;
margin-right: auto;
border : 1px solid black; 
}

.principal_DeepBlue_text{
position : relative;
font-size : 115%;
font-family : Arial;
margin : 0;
padding-right : 950px;
word-spacing : 4px;
}

#principal .DeepBlue_img{
position : relative;
float: right;
height : 420px;
width: 260px;
margin : 0;
right: 15px;
top : -175px;
border : 1px solid black;
}

#principal .DeepBlue_Echec_img{
position : relative;
height : 420px;
width: 670px;
float: right;
right: 20px;
margin : 0;
top : -175px;
border : 1px solid black;
}

/* Partie après 2000 */

#principal .Ap2000_ul{
margin-top : 250px;
position: absolute;
margin-right : 15px;
}

#principal .Matrix_img{
width: 500px;
height: 350px;
left: 55px;
position : relative;
border : 1px solid black; 
}

#principal .IRobot_img{
width: 370px;
height: 500px;
position: absolute;
right: 430px;
top: 130px;
border : 1px solid black; 
}

.principal_text_ApMatrix{
font-size : 115%;
font-family : Arial;
margin-right: 15px;
margin-top : 150px;
}

#principal .Monde_img{
width: 580px;
height: 350px;
float : left;
margin-left : 0;
margin-right : 10px;
position : relative;
top : -20px;
border: 1px solid black;
}

.principal_text_LastAp2000{
font-size : 115%;
font-family : Arial;
word-spacing : 4px;
}

/* Partie Ap2010 */

.Ap2010_ul{
margin-top : 1400px;
}

#principal .IBM_img{
display : block;
margin-left: auto;
margin-right: auto;
border : 1px solid black;
width: 1200px;
height: 650px;
}

#principal .LogoGoogle{
height: 500px;
width: 500px;
display : block;
margin-left: auto;
margin-right: auto;
border: 1px solid black;
}

